

*.o
*.so
*.lo
*.la
*.log
*.status
*.pc
*.spec

.deps
.libs
.gdb_history

bandwidth-client
bandwidth-server-many-up
bandwidth-server-one
random-test-client
random-test-server
stamp-h2
unit-test-client
unit-test-server
unit-test.h
version

libmodbus/configure
libmodbus/Makefile
libmodbus/config.h
libmodbus/doc/Makefile
libmodbus/libtool
libmodbus/src/Makefile
libmodbus/src/modbus-version.h
libmodbus/stamp-h1
libmodbus/tests/Makefile
cscope.out
localServer
modbus_collect
modbus_scan
simpleClient
simpleServer
newServer

